body {
    background: #434354;
    font-family: helvetica, sans;
}

.main {
    background: #ccccff;
    border: 0.25em solid #8787a8;
    margin: auto;
    padding: 0.2em;
    width: 55em;
}

h1, h2 {
    background: #005875;
    border: 0.15em solid #545443;
    color: eeeeee;
    padding-left: 1em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.2em;
}

/* Generic table */
table {
    border: 0.15em solid #8787a8;
    margin: auto;
    width: 95%;
}

th {
    background: #25252e;
    color: #eeeeee;
    text-align: left;
}

tr:nth-child(odd) {
    background: #b8b8e5;
}

table.small {
    width: auto;
}

/* Links */
a:link, a:visited {
    color: #0000ed;
    text-decoration: none;
}

a:hover {
    color: #ffff00;
}

a:active {
    color: a8a800;
}

/* Description */
.description {
    background: #eeeeee;
    margin: 1.5em;
    padding: 0.25em;
}

/* Status bar */
table.bar {
    background: white;
    border: 0.1em solid #434354;
    border-spacing: 0;
    height: 1em;
    padding: 0.15 em;
    width: 20em;
}

.bar_good {
    background: green;
}

.bar_bad {
    background: red;
}

.bar_none {
    background: white;
}

/* Tree */
table.tree {
    border: none;
    width: 100%;
}

td.tree {
    background-color: #ccccff;
}

.tree-indent {
    margin-left: 3em;
}

.status-box {
    height: 1em;
    width: 1em;
}

.status-not-started {
    background: grey;
}

.status-ongoing {
    background: yellow;
}

.status-waiting {
    background: red;
}

.status-done {
    background: green;
}
